@theme {
  /* Material Design 3 - Roboto Font */
  --default-font-family: "Roboto", sans-serif;

  /* Font Families */
  --font-family-sans: var(--default-font-family);

  /* Colors */
  --color-background: var(--color-neutral-900);
  --color-background-secondary: var(--color-neutral-800);
  --color-foreground: var(--color-neutral-50);
}
